.ticket{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 5px 10px;
    border-radius: 10px;
    /* border: 2px solid #c5c5c5; */
    background: #e3e4e6;
    margin-bottom:10px;
    /* box-shadow: rgb(50 50 93 / 30%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px; */
    
    
    }
    .detailsFont{
      font-family:'Roboto',sans-serif;

    }
    .date{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    font-size: 0.6rem;
    }
    .rightData{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    
    
    }
    .leftData{
        
            display: flex;
            flex-direction: column;
            justify-content: right;
        
    }
    .federation{
        display: flex;
        justify-content: left;
        width: 100%;
        font-size: 0.9em;
    }
    .teams{
        display: flex;
       font-weight: bold;
        font-size: 1em;
        color: #505050;
    }
    .dateMain{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 0.6em;
        margin-bottom: 2px;
    }
    .odds{
        font-size: 0.8rem;
    
    }
    .bg{
        background: rgb(210,233,255);
        background: linear-gradient(180deg, rgba(210,233,255,1) 25%, rgba(138,225,254,0.4290091036414566) 100%);  
    min-height: 100vh;
    }
    .header{
        color:#505050;
        text-shadow: 0.02em 0.02em rgba(172, 172, 172, 0.5);
        font-size: 1.8em;
        margin-top: 10px;
    }
    .ticketWrapper{
        box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
    
    }
    .button4{
        display:inline-block;
        padding:0.3em 1.2em;
        margin:0 0.1em 0.1em 0;
        border:0.16em solid rgba(255,255,255,0);
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#FFFFFF;
        text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
        text-align:center;
        transition: all 0.2s;
        background-color: #43484f;
        font-size: 0.6em;
        }
        .button4:hover{
        border-color: rgba(255,255,255,1);
        }
        @media all and (max-width:20em){
        .button4{
        display:block;
        margin:0.2em auto;
        }
        }
        
        .header{
          color:#505050;
          text-shadow: 0.05em 0.05em rgba(172, 172, 172, 0.7);
          font-size: 1.6em;
      }


    /* spinner */
    .ldsspinner {
        color: #4181ee;
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .ldsspinner div {
        transform-origin: 40px 40px;
        animation: ldsspinner 1.2s linear infinite;
      }
      .ldsspinner div:after {
        content: " ";
        display: block;
        position: absolute;
        top: 3px;
        left: 37px;
        width: 6px;
        height: 18px;
        border-radius: 20%;
        background: #094560;
      }
      .ldsspinner div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
      }
      .ldsspinner div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
      }
      .ldsspinner div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
      }
      .ldsspinner div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
      }
      .ldsspinner div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
      }
      .ldsspinner div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
      }
      .ldsspinner div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
      }
      .ldsspinner div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
      }
      .ldsspinner div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
      }
      .ldsspinner div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
      }
      .ldsspinner div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
      }
      .ldsspinner div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
      }
      @keyframes ldsspinner {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
