

.ticket{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 5px 10px;
    border-radius: 10px;
    /* border: 2px solid #c5c5c5; */
    background: #e3e4e6;
    margin-bottom:5px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
    
    
    }
    .date{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    font-size: 0.6rem;
    align-items: center;
    }
    .rightData{
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        width: 100%;
    
    
    }
    .leftData{
        
            display: flex;
            flex-direction: column;
            justify-content: right;
        
    }
    .federation{
        display: flex;
        justify-content: left;
        width: 100%;
        font-size: 0.9rem;
    }
    .dateMain{
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 0.6rem;
        margin-bottom: 10px;
    }
    .odds{
        font-size: 0.8rem;
    
    }
    .bg{
        background: rgb(210,233,255);
        background: linear-gradient(180deg, rgba(210,233,255,1) 25%, rgba(138,225,254,0.4290091036414566) 100%);  
    min-height: 100vh;
    }
    .header{
        color:#505050;
        text-shadow: 0.02em 0.02em rgba(172, 172, 172, 0.5);
        font-size: 1.8em;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ticketWrapper{
        box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
    
    }
    
    
    